@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

body 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #313131;
}

body .title
{
    display: flex;
    color: white;
    margin-top: 50px;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
}

body canvas
{
    display: flex;
    justify-content: center;
    margin: 50px auto;
}

canvas
{
    border: 2px solid white;
    cursor: url('pencil.cur') , auto;
}

.tools .color-field
{
    height: 40px;
    width: 40px;
    min-height: 40px;
    min-width: 40px;
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    border: 2px solid white;
    margin: 0 10px;
}

.tools
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.tools .button
{
    align-self: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    color: #313131;
    background-color: #eee;
    border: 2px solid white;
    margin: 0 10px;
}

.color-picker
{
    align-self: center;
    margin: 0 15px;
    height: 50px;
}

.pen-range
{
    align-self: center;
    margin: 0 10px;
}


body .results
{
    display: flex;
    color: white;
    margin-top: 15px;
    justify-content: center;
    font-family: 'Noto Sans JP', sans-serif;
}